.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #373A40;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.joinBtn{
  background: #A1DD70;
}

.createInfo{
  
  margin: 0 auto;
  margin-top: 20px;

}
.createNewBtn{
  color: #4aed88;
  text-decoration: none;
}

.mainWrap{
  display: grid;
  grid-template-columns: ;

}